<div class="category_header">
</div>
<div class="div_form">
  <form class="category_form">
    <table class="table_form">
      <tr>
        <!--<td>
          <button mat-mini-fab class="add_line_table">+</button>
        </td>-->
        <td>
          <mat-form-field>
            <mat-select placeholder="Choose a Category" (selectionChange)="getCategory($event.value)">
              <mat-option *ngFor="let category of categories" [value]="category">{{ category }}</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput type="number" placeholder="How Many Words?" min=0 (change)="getNumber($event.target.value)">
          </mat-form-field>
        </td>
      </tr>
    </table>
  </form>
</div>
<div>
  <button mat-raised-button class="get_words" (click)="retrieveWordsByCategory($event)">Get Your Words !</button>
</div>

<div class="result_table">
  <mat-list>
    <mat-list-item *ngFor="let list of response_api">
      <p mat-line> {{list.word}} </p>
    </mat-list-item>
  </mat-list>
</div>

<div class="footer"></div>