<div class="alphabetic_header">
</div>
<div class="div_form">
  <form class="alphabetic_form">
    <table class="table_form">
      <tr>
        <td></td>
        <td>
          <mat-form-field>
            <mat-select placeholder="Choose a Letter">
              <mat-option *ngFor="let letter of alphabet" [value]="letter">{{ letter }}</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput type="number" placeholder="How Many Words?">
          </mat-form-field>
        </td>
      </tr>
      <!--
      <tr>
        <td>
          <button mat-mini-fab class="add_line_form">+</button>
        </td>
      </tr>
      -->
    </table>
  </form>
</div>
<button mat-raised-button class="get_words">Get Your Words !</button>
<!--
<script type="text/ng-template" id="row_form">
  <td></td>
  <td>
    <mat-form-field>
      <mat-select placeholder="Choose a Letter">
        <mat-option *ngFor="let letter of alphabet" [value]="letter">{{ letter }}</mat-option>
      </mat-select>
    </mat-form-field>
  </td>
  <td>
    <mat-form-field>
      <input matInput type="number" placeholder="How Many Words?">
    </mat-form-field>
  </td>
</tr>
<tr>
  <td>
    <button mat-mini-fab class="add_line_form">+</button>
  </td>
</script>
-->