<div class="home_header">

</div>
<div class="home_main">
  <div class="button_main">
    <button mat-raised-button routerLink="AB_rule" class="start_link">Start Alphabetic</button>
    <button mat-raised-button routerLink="Cat_rule" class="start_link">Start Category</button>
    <h2>Welcome to Create Your Story app!</h2>
  </div>
  <p class="hook">Did you ever felt a un trou dans votre imagination? De ne pas savoir par où commencer votre histoire? Ou tout simplement vous souhaitez vous amusez.<p>
  <p> This app is made for you. C.Y.S will stimulate your creativity and imagination. Two rule are available : Alphabetic and Category. By choosing Alphabetic, you will have to chose one or more letter where to pick up the words and same for the Category one or more (such as Aventure, Horror, Romantic,...)</p>
  <p> Follow the instructions for each rule. You will obtain a list of word. Then create your story with them. </p>
  <p>This app is inspired by the board game : Aye, Dark Overlord!</p>
</div>
